<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMDb7orrHDXpj7Ziu3wu5OMDS8GKBwzMo</string>
	<key>GCM_SENDER_ID</key>
	<string>636442336252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seongmin.TodoGo</string>
	<key>PROJECT_ID</key>
	<string>fir-test-e534c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-e534c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636442336252:ios:d587192b9c66032d877079</string>
</dict>
</plist>